@page
@model EditModel
@{
    ViewData["Title"] = "Edit Component";
}

<h1 class="text-center">Edit</h1>

<h4 class="text-center">Component</h4>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Component.Id" />
            <input type="hidden" asp-for="Component.Type" />
            <div class="form-group">
                <label asp-for="Component.Name" class="control-label"></label>
                <input type="text" asp-for="Component.Name" class="form-control" />
                <span asp-validation-for="Component.Name" class="text-danger"></span>
            </div>

            @if (Model.Component.Type == ComponentType.BLDCMotor)
            {
                var component = Model.Component as BLDCMotor;

                <div class="form-group">
                    <label asp-for="@component.RPMV" class="control-label"></label>
                    <input type="number" asp-for="@component.RPMV" class="form-control" />
                    <span asp-validation-for="@component.RPMV" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@component.Shaftdiameter" class="control-label"></label>
                    <input type="text" asp-for="@component.Shaftdiameter" class="form-control" />
                    <span asp-validation-for="@component.Shaftdiameter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@component.Voltagerating" class="control-label"></label>
                    <input type="text" asp-for="@component.Voltagerating" class="form-control" />
                    <span asp-validation-for="@component.Voltagerating" class="text-danger"></span>
                </div>
            }

            @if (Model.Component.Type == ComponentType.Bolt)
            {
                var component = Model.Component as Bolt;

                <div class="form-group">
                    <label asp-for="@component.Size" class="control-label"></label>
                    <input type="text" asp-for="@component.Size" class="form-control" />
                    <span asp-validation-for="@component.Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@component.Length" class="control-label"></label>
                    <input type="number" asp-for="@component.Length" class="form-control" />
                    <span asp-validation-for="@component.Length" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@component.Head" class="control-label"></label>
                    <input type="text" asp-for="@component.Head" class="form-control" />
                    <span asp-validation-for="@component.Head" class="text-danger"></span>
                </div>
            }

            @if (Model.Component.Type == ComponentType.Microcontroller)
            {
                var component = Model.Component as Microcontroller;

                <div class="form-group">
                    <label asp-for="@component.Processor" class="control-label"></label>
                    <input type="text" asp-for="@component.Processor" class="form-control" />
                    <span asp-validation-for="@component.Processor" class="text-danger"></span>
                </div>
            }

            @if (Model.Component.Type == ComponentType.Propeller)
            {
                var component = Model.Component as Propeller;

                <div class="form-group">
                    <label asp-for="@component.NoBlades" class="control-label"></label>
                    <input type="number" asp-for="@component.NoBlades" class="form-control" />
                    <span asp-validation-for="@component.NoBlades" class="text-danger"></span>
                </div>
            }

            @if (Model.Component.Type == ComponentType.StepperMotor)
            {
                var component = Model.Component as StepperMotor;

                <div class="form-group">
                    <label asp-for="@component.Size" class="control-label"></label>
                    <input type="text" asp-for="@component.Size" class="form-control" />
                    <span asp-validation-for="@component.Size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@component.Currentrating" class="control-label"></label>
                    <input type="number" asp-for="@component.Currentrating" class="form-control" />
                    <span asp-validation-for="@component.Currentrating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@component.Holdingtorque" class="control-label"></label>
                    <input type="number" asp-for="@component.Holdingtorque" class="form-control" />
                    <span asp-validation-for="@component.Holdingtorque" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@component.Shaftdiameter" class="control-label"></label>
                    <input type="number" asp-for="@component.Shaftdiameter" class="form-control" />
                    <span asp-validation-for="@component.Shaftdiameter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@component.SPR" class="control-label"></label>
                    <input type="number" asp-for="@component.SPR" class="form-control" />
                    <span asp-validation-for="@component.SPR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@component.Voltagerating" class="control-label"></label>
                    <input type="number" asp-for="@component.Voltagerating" class="form-control" />
                    <span asp-validation-for="@component.Voltagerating" class="text-danger"></span>
                </div>
            }

            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-success mr-3" />
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Component.Id" asp-route-type="@Model.Component.Type">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}