@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Components</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="" asp-route-currentFilter="">
                    @Html.DisplayNameFor(model => model.Components[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Components[0].Type)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="" asp-route-currentFilter="">
                    @Html.DisplayNameFor(model => model.Components[0].Quantity)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Components)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
