@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Makerspace inventory</h1>
    
    @{ 
        var component = Model.LowQuantityComponentCount > 0 ? "danger" : "success";
        var kit = Model.LowKitCount > 0 ? "danger" : "success";
    }

    <div class="container pt-5">
        <div class="row mt-5">
            <div class="col-sm-6">
                <div class="card border-@component">
                    <h5 class="card-header bg-@component text-white">Components</h5>
                    <div class="card-body">
                        <p class="card-text">@Model.ComponentPieceCount pieces of @Model.ComponentCount components</p>
                        <p class="card-text">Low quantity: @Model.LowQuantityComponentCount components</p>
                        <a class="stretched-link" asp-page="/Components/Index"></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card border-@kit">
                    <h5 class="card-header bg-@kit text-white">Kits</h5>
                    <div class="card-body">
                        <p class="card-text">@Model.KitCount kits</p>
                        <p class="card-text">Enough components for @Model.LowKitCount kits</p>
                        <a class="stretched-link" asp-page="/Kits/Index"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
